@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700;800;900&display=swap');

:root {
	--font-family: 'Nunito Sans', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#root {
	height: 100%;
	width: 100%;
}

/*Navbar Styles*/
.navbarContainer {
	height: 2.75em;
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(0, 0, 0);
	padding: 40px 187px;
}

.navbarContainer h1 {
	font-size: 23px;
	font-weight: 800;
	line-height: 31.56px;
	color: #9ea3b0;
}

.navbarContainer span:first-child {
	color: rgba(22, 72, 168, 0.79);
}

.navbarContainer ul {
	list-style: none;
	display: flex;
}

.navbarContainer li {
	margin: 10px 25px;
}

.navbarContainer a {
	color: #2b313e;
	text-decoration: none;
	font-size: 16px;
}

/*Social medias*/
.iconsContainer {
	display: flex;
	justify-content: space-between;
}

.iconsContainer li {
	list-style: none;
}
